<div class="bg-secondary pt-3 lg:pt-10">
  <div class="container mx-auto">
    <h3 class="text-sm font-semibold mb-2 text-content">ABOUT</h3>
    <h1
      class="underlined-heading font-medium text-[45px] lg:text-[65px] pb-2 text-content"
    >
      Some Text about me
    </h1>
    <p class="text-[22px] lg:text-[26px] mt-2 font-light text-content">
      I'm a software engineer with a passion for building web applications. I
      have experience working with a variety of technologies and languages,
      including JavaScript, React, Node.js, and Python.
    </p>
  </div>
</div>

<style></style>
