---
import Hero from "../components/common/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thad Krugman | My Story & More">
  <main class="flex flex-col w-full">
    <Hero
      title="ABOUT"
      heading="Embracing change, pursuing passion"
      text="After years in unfulfilling jobs, I made the life-changing decision to go back to school to pursue my passion for technology. Today, I'm a full stack software engineer dedicated to continuous learning, personal growth, and building innovative solutions that make a difference."
      socials={false}
    />
  </main>
</Layout>

<style></style>
