---
import Hero from "../components/about/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thad Krugman | Full Stack Software Engineer" color={"secondary"}>
  <main class="min-h-screen flex flex-col w-full">
    <Hero />
  </main>
</Layout>

<style></style>
