---
import Hero from "../components/common/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thad Krugman | Full Stack Software Engineer">
  <main class="flex flex-col w-full">
    <Hero
      title="CONTACT"
      heading="Some info about me"
      text="Some supporting text about me"
    />
  </main>
</Layout>

<style></style>
