---
import SubHero from "../components/common/SubHero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thad Krugman | Full Stack Software Engineer">
  <main class="flex flex-col w-full">
    <SubHero
      title="CONTACT"
      heading="Some info about me"
      text="Some supporting text about me"
    />
  </main>
</Layout>

<style></style>
