---
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Thad Krugman | Full Stack Software Engineer'>
  <main class='min-h-screen flex flex-col w-full'>
    <Hero />
  </main>
</Layout>

<style></style>
