---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/common/Hero.astro";
import Link from "../components/common/Link.astro";
import HomeSection from "../components/home/HomeSection.astro";
---

<Layout title="Thad Krugman | Full Stack Software Engineer">
  <main class="flex flex-col w-full">
    <Hero
      title="HOME"
      heading="Hi, I'm Thad, a full stack software engineer."
      text={`I love building cutting-edge web and mobile apps using the latest tools
      like Astro, Solid, Svelte and Bun. I'm also having a blast diving into
      Rust and Zig. If you've got a cool project in mind or just want to geek
      out about tech, feel free to reach out! Let's build something amazing
      together.`}
      useSlot={true}
    >
      <div class="container pt-8 flex flex-row space-x-5">
        <Link variant="backdrop" color="accent" forHero={true} href="/contact"
          >GET IN TOUCH</Link
        >
        <span class="hidden sm:flex"
          ><Link
            variant="backdrop"
            color="accent"
            forHero={true}
            href="/portfolio">VIEW PORTFOLIO</Link
          ></span
        >
      </div>
    </Hero>
    <div class="container flex flex-col py-10">
      <HomeSection
        heading="Want to know who you're working with?"
        cta="DISCOVER MY STORY"
        href="/about"
      >
        From pursuing my love for learning to discovering my passion for
        programming, my journey has been a thrilling adventure. Visit my About
        page to learn more about who I am, what drives me, and how I got to
        where I am today.
      </HomeSection>

      <HomeSection
        heading="Interested in seeing some of my work?"
        cta="EXPLORE MY PROJECTS"
        href="/portfolio"
      >
        Check out my portfolio to see some of my latest projects. Each one was a
        unique learning experience that helped me grow as a developer.
      </HomeSection>

      <HomeSection
        heading="Hungry for tech insights and tips?"
        cta="READ MY LATEST POSTS"
        href="/blog"
      >
        Join me on my blog as I share my experiences, lessons learned, and
        exciting discoveries in the ever-evolving world of software development.
        From Rust and Zig adventures to web dev best practices, there's always
        something new to explore together.
      </HomeSection>

      <HomeSection
        heading="Let's build something incredible together!"
        cta="GET IN TOUCH"
        href="/contact"
      >
        Whether you're a fellow developer, entrepreneur, small business owner,
        or innovator with a groundbreaking idea, I'm always eager to connect and
        collaborate. If you want to chat about the latest tech trends or need
        help bringing your vision to life, reach out through my Contact page.
        Let's create something amazing together!
      </HomeSection>
    </div>
  </main>
</Layout>

<style></style>
