---
import Feature from './Feature.astro'
---

<section
  class='container flex-col pt-16 lg:pt-24 grid grid-cols-1 lg:grid-cols-2 lg:gap-x-10'
>
  <Feature
    heading="Want to know who you're working with?"
    cta='DISCOVER MY STORY'
    href='/about'
  >
    From pursuing my love for learning to discovering my passion for
    programming, my journey has been a thrilling adventure. Visit my About page
    to learn more about who I am, what drives me, and how I got to where I am
    today.
  </Feature>

  <Feature
    heading='Interested in seeing some of my work?'
    cta='EXPLORE MY PROJECTS'
    href='/portfolio'
  >
    Check out my portfolio to see some of my latest projects. Each one was a
    unique learning experience that helped me grow as a developer.
  </Feature>

  <Feature
    heading='Hungry for tech insights and tips?'
    cta='READ MY LATEST POSTS'
    href='/blog'
  >
    Join me on my blog as I share my experiences, lessons learned, and exciting
    discoveries in the ever-evolving world of software development. From Rust
    and Zig adventures to web dev best practices, there's always something new
    to explore together.
  </Feature>

  <Feature
    heading="Let's build something incredible together!"
    cta='GET IN TOUCH'
    href='/contact'
  >
    Whether you're a fellow developer, entrepreneur, small business owner, or
    innovator with a groundbreaking idea, I'm always eager to connect and
    collaborate. If you want to chat about the latest tech trends or need help
    bringing your vision to life, reach out through my Contact page. Let's
    create something amazing together!
  </Feature>
</section>
