<div class="bg-blurple pt-3 lg:pt-10">
  <div class="container mx-auto">
    <h3 class="text-sm font-semibold mb-2 text-accent">HOME</h3>
    <h1
      class="underlined-heading font-medium text-[45px] lg:text-[65px] pb-2 text-content"
    >
      Hi, I'm Thad, a full stack software engineer.
    </h1>
    <p class="text-[22px] lg:text-[26px] mt-2 font-light text-content">
      I love building cutting-edge web and mobile apps using the latest tools
      like Astro, Solid, Svelte and Bun. I'm also having a blast diving into
      Rust and Zig. If you've got a cool project in mind or just want to geek
      out about tech, feel free to reach out! Let's build something amazing
      together.
    </p>
  </div>
  <div class="image-background flex flex-col w-full pt-6 lg:pt-9">
    <div class="container">
      <div
        class="bg-base-dark aspect-video w-full mx-auto flex flex-col items-center justify-center text-4xl font-semibold syne text-content"
      >
        Under Construction
      </div>
    </div>
  </div>
</div>

<style>
  .image-background {
    background: linear-gradient(to bottom, var(--blurple) 50%, var(--base) 50%);
  }
</style>
