---
import Link from "../common/Link.astro";
---

<div class="max-w-2xl border-b border-transparent-light pb-10 pt-9">
  <h2 class="text-3xl font-bold syne text-content">More about me</h2>
  <p class="text-lg mt-1 text-content-darker">
    If youd like to learn more about me, the projects ive worked on, or the
    tools and technologies I use, click the link to go to my about page.
  </p>
  <div class="mt-8">
    <Link variant="default" color="accent" href="/about">MORE ABOUT ME</Link>
  </div>
</div>
