<div class="max-w-2xl border-b border-transparent-light pb-10 pt-8 group">
  <h2
    class="text-3xl font-bold syne text-content group-hover:underline underline-accent"
  >
    More about me
  </h2>
  <p class="text-lg mt-1 text-content-darker">
    If youd like to learn more about me, the projects ive worked on, or the
    tools and technologies I use, click the link to go to my about page.
  </p>
  <div class="mt-2">
    <a class="text-accent font-semibold text-sm">Learn More -></a>
  </div>
</div>
