---
const featuredTestimonial = {
  body: "Thad has been an excellent partner with our business. He is courteous and professional, extremely knowledgeable, and able to assist with a variety of projects.  We've been very happy with both the design and web development work completed for site, and the turnaround time for new work is awesome.  I would strongly recommend him for web design and development work, especially if you are building something with React or other Javascript libraries.",
  author: {
    name: "Dave Kush",
  },
};
const testimonials = [
  [
    [
      {
        body: "Thad did an amazing job with my website. He was very kind and responsive throughout the entire process. I appreciated his ability to work with me and incorporate my ideas into the design. I would highly recommend Thad for any website related work. Cant wait to work with him again in the future!",
        author: {
          name: "Marco Sanchez",
        },
      },
      {
        body: "Excellent job creating website and meeting our immediate needs. Very accommodating and professional and completes in a timely manner. Will use again for future updates.",
        author: {
          name: "Leigh Capone",
        },
      },
      // More testimonials...
    ],
    [
      {
        body: "Great job! He even walked me through stuff I was confused about.",
        author: {
          name: "phenningsen",
        },
      },
      // More testimonials...
    ],
  ],
  [
    [
      {
        body: "Thad did a wonderful job on my website also got me up and running on Google I highly recommend him for all your advertising and website needs. Great experience!",
        author: {
          name: "John Dorazio",
        },
      },
      // More testimonials...
    ],
    [
      {
        body: "Thad did an exceptional job with our marketing campaigns and exceeded our expectations. Polite, professional, and communicated well throughout the entire process. Will definitely use again!",
        author: {
          name: "Luke Krugman",
        },
      },
      {
        body: "Thad did an amazing job with a very abstract concept. Very strongly recommend working with him for web-development projects!",
        author: {
          name: "aw06abag",
        },
      },
      // More testimonials...
    ],
  ],
];

function classNames(...classes: string[]) {
  return classes.filter(Boolean).join(" ");
}
---

<section class="relative container pt-16 lg:pt-24">
  <div class="mx-auto">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-heading sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-flow-col lg:grid-cols-4"
    >
      <figure
        class="block rounded-2xl bg-primary shadow-lg ring-1 ring-slate-900/5 sm:col-span-2 lg:col-start-2 lg:row-end-1 p-6 sm:p-10"
      >
        <blockquote class="text-base sm:text-xl text-content-dark font-medium">
          <p>{`“${featuredTestimonial.body}”`}</p>
        </blockquote>
        <figcaption class="flex items-center gap-x-4 mt-6">
          <div class="flex-auto">
            <div class="font-bold">
              - {featuredTestimonial.author.name}
            </div>
          </div>
        </figcaption>
      </figure>
      {
        testimonials.map((columnGroup, columnGroupIdx) => (
          <div class="space-y-8 lg:contents lg:space-y-0">
            {columnGroup.map((column, columnIdx) => (
              <div
                class={classNames(
                  (columnGroupIdx === 0 && columnIdx === 0) ||
                    (columnGroupIdx === testimonials.length - 1 &&
                      columnIdx === columnGroup.length - 1)
                    ? "lg:row-span-2"
                    : "lg:row-start-1",
                  "space-y-8",
                )}
              >
                {column.map((testimonial) => (
                  <figure class="rounded-2xl bg-primary p-6 shadow-lg ring-1 ring-slate-900/5">
                    <blockquote class="text-content-dark text-base font-medium">
                      <p>{`"${testimonial.body}"`}</p>
                    </blockquote>
                    <figcaption class="mt-6 flex items-center gap-x-4">
                      <div>
                        <div class="font-bold text-content-dark">
                          - {testimonial.author.name}
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                ))}
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
