<div class='bg-primary pt-3 lg:pt-10'>
  <div class='container mx-auto'>
    <h3 class='text-sm font-semibold mb-2 text-primary-content'>HOME</h3>
    <h1
      class='font-medium text-[45px] lg:text-[65px] leading-none pb-2 text-primary-content'
    >
      Hi, I'm Thad, a full stack software engineer
    </h1>
    <p class='text-[22px] lg:text-[26px] mt-4 font-light text-primary-content'>
      I'm a software engineer with a passion for building web applications. I
      have experience working with a variety of technologies and languages,
      including JavaScript, React, Node.js, and Python. I'm always looking for
      new opportunities to learn and grow as a developer.
    </p>
  </div>
</div>
