---
import Socials from '../common/Socials.astro'

const navItems = [
  { name: 'Home', href: '/' },
  { name: 'About', href: '/about' },
  { name: 'Portfolio', href: '/portfolio' },
  { name: 'Blog', href: 'blog' },
  { name: 'Contact', href: '/contact' },
]
---

<footer
  class='bg-base-color pt-16 lg:pt-24 pb-[70px] text-content overflow-hidden'
>
  <div class='container'>
    <a
      href='/'
      class='text-[11vw] max-md:leading-none md:text-7xl font-bold text-white'
      >Thad Krugman</a
    >
    <div
      class='flex flex-col lg:flex-row lg:items-end justify-between w-full mt-6 lg:mt-4'
    >
      <nav class='text-base-content flex gap-x-3 sm:gap-x-6 z-10'>
        {
          navItems.map((item, index) => (
            <>
              <a
                class='text-xs sm:text-base font-light hover:opacity-70'
                href={item.href}
              >
                {item.name}
              </a>
              {index !== navItems.length - 1 && <span>/</span>}
            </>
          ))
        }
      </nav>
      <div class='mt-7 lg:mt-0'>
        <Socials useSmallIcons={true} />
      </div>
    </div>
  </div>
</footer>
