<div class="hero-image-split-background flex flex-col w-full pt-6 lg:pt-9">
  <div class="container">
    <div
      class="bg-base-color aspect-video w-full mx-auto flex flex-col items-center justify-center text-4xl font-semibold syne text-content"
    >
      <p>Under Construction</p>
    </div>
  </div>
</div>
