---
import "@fontsource-variable/syne";
import Header from "../components/common/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-base">
    <Header />
    <slot />
  </body>
</html>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      }
    });
  });

  const fadeInElements = document.querySelectorAll(".fade-in");
  const rotateLeftElements = document.querySelectorAll(".rotate-left");
  const rotateRightElements = document.querySelectorAll(".rotate-right");

  fadeInElements.forEach((element) => {
    observer.observe(element);
  });

  rotateLeftElements.forEach((element) => {
    observer.observe(element);
  });

  rotateRightElements.forEach((element) => {
    observer.observe(element);
  });
</script>

<style is:global>
  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Syne Variable", sans-serif;
  }

  .system {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  .syne {
    font-family: "Syne Variable", sans-serif;
  }

  .btn {
    @apply py-3 min-h-fit h-auto px-7 text-sm font-semibold rounded-sm hover:opacity-80;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1.5s;
  }

  .fade-in.show {
    opacity: 1;
  }
</style>
