---
import Header from '../components/common/Header.astro'
import Footer from '../components/common/Footer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class='bg-base-color min-h-screen flex flex-col h-full w-full justify-between'
  >
    <div>
      <Header />
      <slot />
    </div>
    <Footer />
  </body>
</html>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('show')
      }
    })
  })

  const fadeInElements = document.querySelectorAll('.fade-in')
  const rotateLeftElements = document.querySelectorAll('.rotate-left')
  const rotateRightElements = document.querySelectorAll('.rotate-right')

  fadeInElements.forEach((element) => {
    observer.observe(element)
  })

  rotateLeftElements.forEach((element) => {
    observer.observe(element)
  })

  rotateRightElements.forEach((element) => {
    observer.observe(element)
  })
</script>

<style is:global>
  :root {
    --base-color: #131313;
    --primary: #a970ff;
    --accent: #a970ff;
    --transparent-light: rgba(255, 255, 255, 0.15);
    --transparent-dark: rgba(0, 0, 0, 0.25);
    --content: #ffffff;
    --content-darker: rgba(255, 255, 255, 0.7);
    --content-dark: #000000;
  }

  @font-face {
    font-family: 'PolySans';
    src: url('/fonts/PolySans-Slim.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'PolySans';
    src: url('/fonts/PolySans-Neutral.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'PolySans';
    src: url('/fonts/PolySans-Median.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'PolySans';
    src: url('/fonts/PolySans-Bulky.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family:
      'PolySans',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }

  .underlined-heading {
    position: relative;
    line-height: 1.04em;
    display: block;
    z-index: 2;
  }

  .underlined-heading:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
      to top,
      transparent 0,
      transparent calc(1.04em - 0.9em - 1px),
      rgba(0, 0, 0, 0.3) calc(1.04em - 0.9em - 1px),
      rgba(0, 0, 0, 0.3) calc(1.04em - 0.9em),
      transparent calc(1.04em - 0.9em),
      transparent 1.04em
    );
    background-size: 100% 1.04em;
    background-repeat: repeat-y;
    z-index: -1;
  }

  .hero-image-split-background {
    background: linear-gradient(
      to bottom,
      var(--primary) 50%,
      var(--base-color) 50%
    );
  }
</style>
